@charset "utf-8";
.bcen_block{
	width:226px;
	padding:12px;
	height:40px;
	position:relative;	
}
.bcen_block_face{
	width:40px;
	height:40px;
	border-radius:2px;
	overflow:hidden;
}
.bcen_block_dian{
	width:10px;
	height:10px;
	background-color:#ff3b30;
	border-radius:5px;
	position:absolute;
	left:45px;
	top:6px;	
}
.bcen_block_nums{
	width:16px;
	height:16px;
	background-color:#ff3b30;
	border-radius:8px;
	position:absolute;
	left:40px;
	top:4px;	
	color:white;
	line-height:14px;
	text-align:center;
	font-size:12px;	
}
.bcen_block_font{
	width:132px;
	margin-left:10px;	
}
.bcen_block_title{
	height:22px;
	line-height:22px;
	font-size:14px;
		
}
.bcen_block_fonts{
	font-size:12px;
	color:#999999;
	line-height:15px;
	margin-top:3px;	
}
.bcen_block_right{
	width:44px;
	height:16px;
	line-height:16px;
	font-size:12px;
	text-align:right;
	color:#999999;	
}
.bcen_block_note{
	width:11px;
	margin-top:12px;
}
.bri_center{
	width:100%;
	height:300px;
	/*position:relative;*/
}
.bri_center_scroll{
	width:8px;
	min-height:10px;
	background-color:rgba(0,0,0,0.14);
	border-radius:4px;
	z-index:999;
	position:absolute;
	right:0;
}
.brce_block_box{
	position:absolute;
	left:0;
	overflow-y:auto;
}
.brce_left{
	margin-left:15px;
	margin-top:12px;	
}
.brce_right{
	/*position:absolute;*/
	right:28px;
	margin-top:12px;	
}
.brce_left,.brce_right{
	width:calc(100% - 28px);	
}
.brce_left_face{
	width:45px;
	height:45px;
	background-color:#9CF;
	border-radius:5px;
	overflow:hidden;
	margin-top:5px;
}
.brce_lt_name,.brce_rt_name{
	font-size:14px;
	color:#9775d3;
	line-height:14px;		
}
.brce_lt_name{
	margin-left:9px;	
}
.brce_rt_name{
	margin-right:9px;	
}
.brce_lt_jiao,.brce_rt_jiao{
	height:8px;	
	margin-top:20px;	
}
.brce_lt_jiao{
	width:5px;
	background:url("../images/talks001.png");
	margin-left:5px;
	position:absolute;
	z-index:99;
}
.brce_rt_jiao{
	width:4px;
	background:url("../images/talks002.png");
	margin-right:5px;
}

.brce_lt_block, .brce_rt_block {
	/*min-width:30px;
	min-height:14px;*/
	max-width: 250px;
	word-wrap:break-word;
	word-break:break-all;
	border-radius: 2px;
	margin-top: 7px;
	/*padding:6px 10px;*/
	width: fit-content;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	font-size: 14px;
	color: #ffffff;
}

.brce_lt_block{
	/*border:1px #ad90e4 solid;*/
	background-color:#ad90e4;
	margin-left:9px;
	border-radius:8px;
}
.brce_rt_block{
	/*border:1px #de602e solid;*/
	background-color:#de602e;
	border-radius:8px;
}
.brce_lt_block > div,.brce_rt_block > div{
	min-width:30px;
	min-height:14px;
	margin:6px 10px;	
}
.brce_lt_block img,.brce_rt_block img{
	max-width:288px;
	max-height:100px;	
}
.bri_bottom{
	width:100%;
	height:60px;
	border-top:1px #ececec solid;	
	position:absolute;
	bottom:0;
	background-color:#f3f3f3;
}
.bri_bottom_face{
	width:25px;
	height:25px;
	cursor:pointer;
	background:url("../images/addface010.png") no-repeat;
	background-size: 100% 100%;
	position: absolute;
	bottom: 15px;
	right: 60px;
}
.bri_bottom_face:hover{
	background:url("../images/addface011.png") no-repeat;
	background-size: 100% 100%;
}
.bri_bottom_file{
	width:16px;
	height:14px;
	margin-left:14px;
	margin-top:16px;
	cursor:pointer;
	background:url("../images/addfile010.png");
}
.bri_bottom_file:hover{
	background:url("../images/addfile011.png");
}
.bri_bottom_img{
	width:25px;
	height:25px;
	cursor:pointer;
	background:url("../images/addimg010.png") no-repeat;
	background-size: 100% 100%;
	position: absolute;
	bottom: 14px;
	right: 15px;
}
.bri_bottom_img:hover{
	background:url("../images/addimg011.png") no-repeat;
	background-size: 100% 100%;
}
.bri_bottom_recharge{
	width:16px;
	height:14px;
	margin-left:14px;
	margin-top:16px;
	cursor:pointer;
	background:url("../images/addrecharge010.png");
}
.bri_bottom_recharge:hover{
	background:url("../images/addrecharge011.png");
}
.bri_bottom_iphone{
	width:18px;
	height:15px;
	margin-right:28px;
	margin-top:15px;
	cursor:pointer;
	background:url("../images/addphone010.png");
}
.bri_bottom_iphone:hover{
	background:url("../images/addphone011.png");
}
.bri_bottom_look{
	width:470px;
	height:248px;
	background-color:white;
	position:absolute;
	top:-242px;
	left:-104px;
	border:1px #d1d1d1 solid;
	z-index:9999;
	border-radius:2px;
}
.bri_blook_center{
	width:280px;
	height:312px;
	overflow-y:auto;	
	margin-top:18px;
	margin-left:16px;
}
.bri_bottom_look .fl{
	width:29px;
	height:29px;
	text-align:center;
	line-height:27px;	
}
.bri_bottom_look .fl:hover{
	background-color:#e7e7e7;	
}
.bri_bottom_look img{
	margin-right:3px;	
}
.bri_bottom textarea{
	height:45px;
	background:#ffffff;
	/*margin-top:10px;*/
	/*margin-left:28px;	*/
	border:none;
	resize:none;
	outline:none;
	overflow-y:visible;
	border-radius: 8px;
	line-height: 45px;
	font-size: 18px;
	white-space:nowrap;
}
.bri_bottom_but{
	width:45px;
	border-radius: 5px;
	height:24px;
	text-align:center;
	font-size:13px;
	line-height:24px;
	margin-right:28px;
	border:1px solid #129611;
	background-color:#129611;
	color:white;
}
.bri_bottom_but:hover{
	border:1px solid #129611;
	background-color:#129611;
	color:white;	
}
.brce_time{
	height:20px;
	color:white;
	background-color:#dadada;
	font-size:13px;
	padding:0 6px;
	width:fit-content;
	width:-webkit-fit-content;
	width:-moz-fit-content;
	margin:auto;
	margin-top:18px;
	margin-bottom:8px;	
}
.bri_bottom_empty{
	width:114px;
	height:39px;
	line-height:32px;
	background:url("../images/warn001.png");
	font-size:12px;
	text-align:center;
	position:absolute;
	right:8px;
	bottom:40px;	
}
.buju_install{
	width:249px;
	border-left:1px #ececec solid;
	background-color:white;
	position:absolute;
	right:0;
	top:61px;
	overflow-y:auto;
}
.bin_one{
	width:202px;
	margin-top:34px;
	margin-left:24px;
	border-bottom:1px #ececec solid;
	padding-bottom:15px;	
}
.bin_one_face{
	width:34px;
	height:34px;
	background-color:#99F;
	overflow:hidden;
	border-radius:2px;
	margin-left:1px;	
}
.bin_one_name{
	width:48px;
	font-size:12px;
	margin-top:5px;
	text-align:center;
	margin-left:-7px;	
}
.bin_two{
	width:202px;
	margin-left:24px;
	margin-top:18px;
}
.bin_two_font{
	width:202px;
	height:15px;
	color:#9a9a98;
	font-size:13px;		
}
.bin_two_but{
	cursor:pointer;	
}
.bin_three{
	width:196px;
	height:23px;
	border:1px #e9e9e9 solid;
	margin-top:25px;
	margin-left:25px;
	background-color:#f5f5f5;	
}
.bin_three input{
	width:172px;
	height:23px;
	border:none;
	font-size:12px;
	background:none;
	text-indent:2px;
}
.bin_three_seach{
	margin-top:6px;
	margin-right:6px;	
}
.bin_three_close{
	margin-top:4px;
	margin-right:4px;	
}
.bin_four{
	width:210px;
	margin:auto;
	margin-top:24px;
}
.bin_four .fl{
	width:48px;
	margin-right:6px;
	margin-bottom:14px;	
}
.bin_four .fl:nth-child(4n){
	margin-right:0px;		
}
.bin_four_box{	
}
.bin_four_add{
	width:34px;
	height:34px;
	background:url("../images/add002.png");
	background-size:100%;
	margin:auto;
}
.bin_four .bin_one_face{
	margin:auto;	
}
.bin_four_name{
	width:48px;
	font-size:12px;
	margin-top:5px;
	text-align:center;
}
.bin_four_more{
	color:#9a9997;
	text-align:center;
	font-size:14px;
		
}
.bin_four_border{
	width:202px;
	height:1px;
	background-color:#ececec;
	margin-top:20px;	
}
.bin_five{
	width:202px;
	margin-left:24px;	
}
.bin_five p{
	font-size:14px;
	margin-top:24px;
	color:#7b7a78;	
}
.bin_five_text{
	height:22px;
	font-size:14px;
	margin-top:5px;
	line-height:22px;
	cursor:pointer;	
}
.bin_five img{
	margin-top:10px;
	margin-left:2px;	
}
.bin_five input{
	width:100%;
	height:22px;
	margin-top:4px;
	border:none;
	font-size:14px;	
}
.bin_five_note{
	width:100%;
	font-size:14px;
	margin-top:5px;
	line-height:22px;
	cursor:pointer;		
}
.bin_six{
	width:202px;
	margin:auto;
	text-align:center;
	height:56px;
	line-height:56px;
	border-top:1px #ececec solid;	
	margin-top:30px;
	color:#f55351;
	cursor:pointer;
}
.bin_note{
	width:360px;
	border:1px #d1d1d1 solid;
	border-radius:2px;
	position:fixed;
	right:0;
	bottom:0;	
	background-color:#f5f5f5;
}
.bin_note_title{
	font-size:14px;
	color:#999;
	margin-top:10px;
	margin-left:10px;	
}
.bin_note_close{
	width:34px;
	height:26px;
	background:url("../images/close001.jpg");
}
.bin_note_close:hover{
	background:url("../images/close002.jpg");
}
.bin_note_detail{
	width:280px;
	margin:auto;
	margin-top:40px;	
}
.bin_nd_face{
	width:34px;
	height:34px;
	overflow:hidden;
	border-radius:2px;	
}
.bin_nd_font{
	font-size:14px;
	color:#999;
	height:34px;
	margin-left:10px;
	line-height:17px;	
}
.bin_nd_detail{

	width:280px;
	margin:auto;
	font-size:14px;
	line-height:20px;	
	margin-top:24px;
}
.bin_nd_warn{
	width:280px;
	text-align:center;
	color:#999;
	font-size:14px;	
	margin-top:10px;
	margin-bottom:25px;
}
.bcen_first{
	font-size:12px;
	color:#999;
	margin-left:12px;
	margin-bottom:4px;
	margin-top:18px;	
}
.bcen_friends{
	width:100%;
	height:34px;
	padding:13px 0;		
}
.bcen_friends_face{
	width:34px;
	height:34px;
	overflow:hidden;
	border-radius:2px;
	margin-left:12px;
	margin-right:10px;
}
.bcen_friends_font{
	height:34px;
	line-height:34px;
	font-size:13px;
}
.bcen_borders{
	border-bottom:1px #dcdbda solid;	
}
.bri_detail_one{
	width:370px;
	height:105px;
	margin:auto;
	border-bottom:1px #e7e7e7 solid;
	margin-top:96px;	
}
.bri_detail_two{
	width:370px;
	height:151px;
	margin:auto;
	border-bottom:1px #e7e7e7 solid;
	margin-top:32px;
}
.bri_deb_left{
	width:300px;	
}
.bri_deb_name{
	max-width:280px;
	height:28px;
	font-size:20px;
	line-height:28px;	
}
.bri_deb_face{
	width:60px;
	height:60px;
	overflow:hidden;
	border-radius:2px;	
}
.bri_deb_sex{
	height:28px;
	line-height:28px;
	margin-left:7px;
}
.bri_deb_sign{
	width:300px;
	height:20px;
	font-size:14px;
	color:#999;
	margin-top:12px;	
}
.bri_deb_input{
	width:150px;
	height:22px;
	border:none;
	border-bottom:1px black solid;
	background-color:#f2f2f2;
	font-size:14px;
	margin-top:-1px;
}
.bri_deb_one{
	width:80px;
	height:22px;
	line-height:22px;
	font-size:14px;
	color:#999;
	margin-bottom:12px;	
}
.bri_deb_two{
	width:92px;
	height:22px;
	line-height:22px;
	font-size:14px;	
}
.bri_deb_tip:hover{
	border:1px #b8c4d1 solid;
	background-color:#eceef0;
	border-radius:2px;
	height:20px;
	line-height:20px;
	margin-left:-3px;
	text-indent:2px;
	cursor:pointer;
}
.bri_detail_but{
	width:138px;
	height:36px;
	line-height:36px;
	background-color:#1aac19;
	text-align:center;
	margin:auto;
	margin-top:52px;
	color:white;
	font-size:14px;	
}
@media only screen and (max-width: 450px) {
	.brce_lt_block, .brce_rt_block {
		font-size: 15px;
	}
}