html,
body,
#main {
  width: 100%;
  height: auto;
  overflow: hidden;
}
body {
  font-size: 0.3rem;
}
#main {
  margin: 0 auto;
  width: 100%;
  height: auto;
  background: #4b474f;
  position: relative;
}
#main .page-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}
#main .page-loading .pre-load-header {
  width: 100%;
  height: 0.9rem;
}
#main .page-loading .pre-load-content {
  height: 2.1rem;
  flex: 1;
  width: 100%;
  background: #4b474f;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .page-loading .pre-load-footer {
  width: 100%;
  height: 1rem;
}
.content {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  height: 100%;
}
.header {
  width: 100%;
}
.header .sub-header {
  position: relative;
  height: 0.9rem;
  background: #10161e;
  box-shadow: 0 0 0 0 #00a6ff;
  color: #85878a;
}
.header .sub-header .profile {
  text-align: center;
  margin: 0 auto;
}
.header .sub-header .profile span {
  line-height: 0.9rem;
  max-width: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.34rem;
  white-space: nowrap;
  margin: 0 auto;
  display: block;
  font-weight: 600;
}
.header .sub-header .chat-link {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 0.9rem;
  margin-left: 0.2rem;
  padding-left: 0.5rem;
  background: url(//static.cbddxe.com/links/back_3a8be60a.png) no-repeat 0 center;
  background-size: 0.4rem;
  font-size: 0.3rem;
}
.header .sub-header .service-list {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 0.9rem;
  padding: 0 0.2rem;
  background-size: 0.4rem;
  font-size: 0.3rem;
}
.error-net {
  background: #feefb8;
  text-align: center;
  z-index: 999;
  line-height: 0.8rem;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 0.24rem;
  width: 100%;
  height: 0.8rem;
}
.error-net img {
  width: 0.3rem;
  vertical-align: middle;
  margin-top: -0.04rem;
}
.recharge-tip {
  width: 100%;
  height: auto;
  padding: 0.1rem 0.2rem;
  font-size: 0.24rem;
  box-sizing: border-box;
  background: #e9ce8c;
  color: #562f19;
}
.room-box {
  overflow: auto;
  flex: 1;
  -webkit-box-flex: 1;
  -webkit-overflow-scrolling: touch;
}
.room-box ul {
  box-sizing: border-box;
  padding-bottom: 0.2rem;
}
.room-box ul .date {
  color: #85878a;
  background: rgba(62,62,66,0.9);
  border-radius: 0.06rem;
  margin: 0 auto;
  width: 1.4rem;
  height: 0.36rem;
  line-height: 0.36rem;
  font-size: 0.24rem;
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  top: 0.2rem;
  z-index: 999;
}
.room-box ul .receive-box {
  display: flex;
  padding: 0.24rem 0.2rem;
}
.room-box ul .receive-box .pic {
  margin-right: 0.22rem;
}
.room-box ul .receive-box .pic img {
  display: block;
  width: 0.72rem;
  height: 0.72rem;
  border-radius: 50%;
  margin-top: 0.4rem;
}
.room-box ul .receive-box .time {
  height: 0.33rem;
  font-size: 0.24rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #818690;
  line-height: 0.33rem;
  margin-bottom: 0.07rem;
}
.room-box ul .receive-box .receive-content {
  max-width: 4.2rem;
  padding: 0.19rem 0.29rem 0.19rem 0.26rem;
  background: #fff;
  line-height: 0.42rem;
  border-radius: 0.14rem;
  color: #333;
  border-top-left-radius: 0;
  word-break: break-word;
}
.room-box ul .receive-box .receive-content.receive-content-img {
  background: transparent;
  padding: 0;
}
.room-box ul .receive-content img,
.room-box ul .send-content img {
  display: block;
  width: 100%;
}
.room-box ul .recharge-content {
  width: 4rem;
  height: 1.7rem;
  border-radius: 0.14rem;
  border-top-left-radius: 0;
  overflow: hidden;
  word-break: break-word;
}
.room-box ul .recharge-content.credit .recharge-top {
  background: #27c0c6;
}
.room-box ul .recharge-content.alipay .recharge-top {
  background: #00a6ff;
}
.room-box ul .recharge-content.weichat .recharge-top {
  background: #27c683;
}
.room-box ul .recharge-content.cart .recharge-top {
  background: #ffc907;
}
.room-box ul .recharge-content.huabei .recharge-top {
  background: #00a6ff;
}
.room-box ul .recharge-content .recharge-top {
  color: #fff;
  height: 1.2rem;
  display: flex;
}
.room-box ul .recharge-content .recharge-top .recharge-icon {
  width: 1.36rem;
  padding: 0.22rem 0 0 0.36rem;
}
.room-box ul .recharge-content .recharge-top .recharge-icon img {
  width: 0.76rem;
  border-radius: 50%;
}
.room-box ul .recharge-content .recharge-top .recharge-type-text {
  margin-top: 0.22rem;
  font-size: 0.3rem;
  height: 0.42rem;
  line-height: 0.42rem;
  font-weight: bold;
}
.room-box ul .recharge-content .recharge-top .recharge-click {
  height: 0.33rem;
  font-size: 0.24rem;
  font-weight: 500;
  font-weight: normal;
  line-height: 0.33rem;
}
.room-box ul .recharge-content .recharge-bottom {
  background: #fff;
  padding-left: 0.42rem;
  height: 0.5rem;
  color: #a2a5ae;
  font-size: 0.2rem;
  line-height: 0.5rem;
}
.room-box ul .send-box {
  display: flex;
  justify-content: flex-end;
  padding: 0.24rem 0.2rem;
}
.room-box ul .send-box .send-body {
  position: relative;
}
.room-box ul .send-box .send-body .status {
  position: absolute;
  left: -0.5rem;
  top: 50%;
  width: 0.3rem;
  height: 0.3rem;
}
.room-box ul .send-box .send-body .status.success {
  background: url(//static.cbddxe.com/links/send-succ_294a86df.png);
  background-size: 100%;
}
.room-box ul .send-box .send-body .status.loading {
  background: url(//static.cbddxe.com/links/loading_0a39b7c9.gif);
  background-size: 100%;
}
.room-box ul .send-box .send-body .status.failed {
  background: url(//static.cbddxe.com/links/error_6295e40d.png);
  background-size: 100%;
}
.room-box ul .send-box .pic {
  margin-left: 0.22rem;
}
.room-box ul .send-box .pic img {
  display: block;
  width: 0.72rem;
  height: 0.72rem;
  border-radius: 50%;
  margin-top: 0.4rem;
}
.room-box ul .send-box .time {
  height: 0.33rem;
  font-size: 0.24rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #818690;
  line-height: 0.33rem;
  margin-bottom: 0.07rem;
  text-align: right;
}
.room-box ul .send-box .send-content {
  max-width: 4.2rem;
  padding: 0.19rem 0.29rem 0.19rem 0.26rem;
  background: #8fdb72;
  line-height: 0.42rem;
  border-radius: 0.14rem;
  color: #333;
  border-top-right-radius: 0;
  word-break: break-word;
}
.room-box ul .send-box .send-content.send-content-img {
  background: transparent;
  padding: 0;
}
.payment {
  min-height: 1rem;
  background: #39393d;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.payment ul {
  flex: 1;
  padding: 0.02rem 0 0.16rem 0.2rem;
  box-sizing: border-box;
}
.payment ul li {
  float: left;
  height: 0.5rem;
  border-radius: 0.1rem;
  line-height: 0.5rem;
  margin-top: 0.14rem;
  margin-right: 0.1rem;
  padding-left: 0.48rem;
  padding-right: 0.12rem;
  font-size: 0.26rem;
  color: #717985;
}
.payment ul li.weichat {
  background: #f2f5fa url(//static.cbddxe.com/links/weixin_efc4ee6c.png) 0.15rem 0.1rem no-repeat;
  background-size: 0.25rem;
}
.payment ul li.alipay {
  background: #f2f5fa url(//static.cbddxe.com/links/alipay_ac58a40e.png) 0.15rem 0.1rem no-repeat;
  background-size: 0.25rem;
}
.payment ul li.huabei {
  background: #f2f5fa url(//static.cbddxe.com/links/huabei-blue_5bf0bc81.png) 0.15rem 0.1rem no-repeat;
  background-size: 0.25rem;
}
.payment ul li.cart {
  background: #f2f5fa url(//static.cbddxe.com/links/cart_883b14f8.png) 0.15rem 0.1rem no-repeat;
  background-size: 0.25rem;
}
.payment ul li.credit {
  background: #f2f5fa url(//static.cbddxe.com/links/credit-cart_c434b435.png) 0.15rem 0.1rem no-repeat;
  background-size: 0.25rem;
}
.payment .payed {
  position: relative;
  height: 0.5rem;
  background: linear-gradient(180deg, #ffc907 0%, #ffaf10 100%);
  border-radius: 0.08rem;
  border: 0;
  font-size: 0.26rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #000;
  line-height: 0.5rem;
  padding: 0 0.1rem 0 0.38rem;
  box-sizing: border-box;
  margin: 0.18rem 0.22rem 0 0;
}
.payment .payed span {
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  background: url(//static.cbddxe.com/links/sended_91e9dbc0.png) no-repeat 0 0;
  background-size: 0.24rem;
  left: 0.1rem;
  top: 0.1rem;
}
.sub-footer {
  width: 100%;
  height: 1rem;
  background: #2e2e2f;
  display: flex;
}
.sub-footer .uploader {
  width: 1.04rem;
  background: url(//static.cbddxe.com/links/uploader_71143522.png) center center no-repeat;
  background-size: 0.59rem 0.59rem;
}
.sub-footer .input-wrap {
  width: 5.16rem;
  padding-left: 0.1rem;
  flex: 1;
}
.sub-footer .input-wrap input {
  width: 100%;
  height: 1rem;
  font-size: 0.32rem;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 400;
  color: #85878a;
  line-height: 1rem;
  padding: 0.28rem 0;
  box-sizing: border-box;
  outline: none;
}
.sub-footer .send {
  width: 1.08rem;
  height: 0.72rem;
  background: linear-gradient(180deg, #fff1cc 0%, #e0c072 100%);
  border-radius: 0.1rem;
  font-size: 0.32rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #562f19;
  line-height: 0.72rem;
  text-align: center;
  margin: 0.14rem 0.22rem 0 0;
}
.mint-popup {
  width: 100%;
  height: 100%;
  background: #fff;
}
.mint-indicator-wrapper {
  z-index: 999;
}
.mint-msgbox {
  max-width: 5.6rem;
  border-radius: 0.12rem !important;
}
.mint-msgbox .mint-msgbox-title {
  font-size: 0.34rem;
}
.mint-msgbox .mint-msgbox-message {
  font-size: 0.3rem;
}
.mint-msgbox .cancel-reconnect {
  color: #b4bac6;
  font-size: 0.34rem;
  border-right: 0.01rem solid #e5e5e5;
}
.mint-msgbox .confirm-reconnect {
  color: #27c683;
  font-size: 0.34rem;
}

